GitPython
Jinja2
MarkupSafe
Pillow
PyYAML
Pygments
Pympler
SQLAlchemy
aiohttp
aiosignal
altair
anyio
asttokens
async-timeout
attrs
backcall
backoff
blinker
cachetools
certifi
charset-normalizer
chromadb <= 0.3.29
click
clickhouse-connect
colorama
comm
dataclasses-json
debugpy
decorator
duckdb
entrypoints
executing
fastapi
ffmpeg-python
filelock
frozenlist
fsspec
gitdb
greenlet
h11
hnswlib
httptools
huggingface-hub
idna
importlib-metadata
ipykernel
ipython
jedi
joblib
jsonschema
jupyter_client
jupyter_core
langchain
lz4
markdown-it-py
marshmallow
marshmallow-enum
matplotlib-inline
mdurl
monotonic
mpmath
multidict
mypy-extensions
nest-asyncio
networkx
nltk
numexpr
numpy
openai
openapi-schema-pydantic
packaging
pandas==2.0.3
parso
pdfminer
pickleshare
pip
platformdirs
poppler-utils
posthog
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pycryptodome
pydantic
pydeck
pypdf
pyrsistent
python-dateutil
python-dotenv
pytube
pytz
pytz-deprecation-shim
pyzmq
regex
requests
rich
scikit-learn
scipy
sentence-transformers
sentencepiece
six
smmap
sniffio
stack-data
starlette
streamlit
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
toml
toolz
torch
torchvision
tornado
tqdm
traitlets
transformers
typing-inspect
typing_extensions
tzdata
tzlocal
unstructured[all-docs]
urllib3
uvicorn
validators
watchdog
watchfiles
wcwidth
websockets
yarl
zipp
zstandard
